{% extends 'base.html.twig' %}
{% block title %}Accueil {% endblock %}
{% block body %}
    <main>
        <section class="slider" id="slider">
            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    {% for slide in slides %}
                        <div class="carousel-item {{ loop.first ? 'active' : ''}}">
                            <img src="{{ asset('uploads/slides/'~ slide.media) }}" class="d-block w-100" alt="Mase Côte d'Ivoire">
                        </div>
                    {% endfor %}
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExample"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </section>

        {% if partenaires %}
            <section class="partenaires" id="partenaires" style="margin-top:100px">
                <div class="container my-5"data-aos="fade-up" data-aos-duration="3000" data-aos-easing="linear">
                    <h3 class="fw-lighter text-uppercase my-4">Partenaires</h3>
                    <div class="row row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-6 g-4">
                        {% for partenaire in partenaires %}
                            <div class="col">
                                <figure class="overflow-hidden">
                                    <img src="{{ asset('uploads/partenaires/' ~ partenaire.media) }}" alt="{{ partenaire.nom }}" class="img-fluid">
                                </figure>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </section>
        {% endif %}


        {% if management %}
            <section class="presentation" id="presentation" style="margin: 100px auto;">
                <div class="container mt-5" data-aos="fade-up" data-aos-duration="2000" data-aos-easing="ease-in-out">
                    <div class="row row-cols-1 row-cols-md-2 g-4 d-flex justify-content-center align-items-center align-content-center">
                        <div class="col order-1 order-md-0">
                            <h3 class="h3 fw-bold mb-4" style="font-family: var(--text-family-poppins)">{{management.titre}}</h3>
                            <div class="section-content" style="text-align: justify;">
                                {{ management.contenu|slice(0,200)|raw }}
                            </div>
                            <a href="#" class="btn btn-main rounded-0 px-4 py-2 mt-5">Rejoignez-nous</a>
                        </div>
                        <div class="col order-0 order-md-1" data-aos="fade-up" data-aos-duration="3000">
                            <div class="presentation-illustration">
                                <figure class="overflow-hidden">
                                    <img src="{{ asset('uploads/qsn/' ~ management.media) }}" alt="{{ management.titre }}" class="img-fluid">
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        {% endif %}

        {% if actualites %}
            <section class="actualites" id="actualites" style="margin: 150px auto;">
                <div class="container my-5" data-aos="fade-up" data-aos-duration="3000" data-aos-easing="ease-in-out">
                    <h3 class="fw-lighter text-uppercase my-5">Dernières actualités</h3>
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
                        {% for actualite in actualites %}
                            <div class="col actualite-item">
                                <div class="card h-100 rounded-0">
                                    <div class="card-body">
                                        <a href="#">
                                            <figure class="overflow-hidden">
                                                <img src="{{ asset('uploads/pages/' ~ actualite.media) }}" alt="{{ actualite.titre }}" class="card-img w-100">
                                            </figure>
                                        </a>

                                        <h4 class="card-title fw-lighter my-4">
                                            <a href="#" class="text-decoration-none">{{ actualite.titre }}</a>
                                        </h4>
                                    </div>
                                    <div class="card-footer border-top-0 bg-white">
                                        <a href="#" class="btn btn-outline-success btn-sm rounded-0 px-5">Lire la
                                            suite...</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
            </section>
        {% endif %}

        <section class="statistiques" id="statistiques">
            <div class="container my-5" data-aos="fade-up" data-aos-duration="3000" data-aos-easing="ease-in-out">
                <h3 class="fw-lighter text-uppercase text-center my-5">Nos chiffres</h3>
                <div class="row row-cols-1 row-cols-md-3 g-4 d-flex justify-content-center align-items-center align-content-center">
                    <div class="col statistiques-item">
                        <div class="card h-100 rounded-0 border">
                            <div class="card-body text-center my-5">
                                <h2 class="fw-semibold" style="font-family: var(--text-family-poppins)">000</h2>
                                <div class="card-text fw-light mt-3">Adhérents Mase</div>
                            </div>
                        </div>
                    </div>
                    <div class="col statistiques-item">
                        <div class="card h-100 rounded-0 border">
                            <div class="card-body text-center my-5">
                                <h2 class="fw-semibold" style="font-family: var(--text-family-poppins)">000</h2>
                                <div class="card-text fw-light mt-3">Entreprises certifiées</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
