{% extends 'base.html.twig' %}

{% block body %}
    <main>

        <section class="page" id="page" style="margin-top:100px">
            <div class="container my-5" data-aos="fade-up" data-aos-duration="3000" data-aos-easing="linear">
                {% if articles %}

                    {% for article in articles %}
                        <div class="row row-cols-1 row-cols-md-2 g-4 d-flex justify-content-center align-items-center align-content-center">
                            {% if loop.first %}
                                <div class="col order-1 order-md-0">
                                    <h3 class="h3 fw-bold mb-4" style="font-family: var(--text-family-poppins)">{{article.titre}}</h3>
                                    <div class="section-content" style="text-align: justify;">
                                        {{ article.contenu|raw }}
                                    </div>
                                </div>
                                <div class="col order-0 order-md-1 mb-md-5" data-aos="fade-up" data-aos-duration="3000">
                                    <div class="presentation-illustration">
                                        <figure class="overflow-hidden">
                                            <img src="{{ asset('uploads/qsn/' ~ article.media) }}" alt="{{ article.titre }}" class="img-fluid">
                                        </figure>
                                    </div>
                                </div>

                                {% else %}
                                    <div class="col order-1 order-md-0 w-100 mt-3">
                                        <h3 class="h3 fw-bold mb-4" style="font-family: var(--text-family-poppins)">{{article.titre}}</h3>
                                        <div class="section-content" style="text-align: justify;">
                                            {{ article.contenu|raw }}
                                        </div>
                                    </div>
                            {% endif %}

                        </div>
                    {% endfor %}

                {% else %}

                    <h1 class="h1 text-center my-5 fst-italic text-success">
                        <i class="bi bi-exclamation-triangle"></i> Page en maintenance
                    </h1>

                {% endif %}


            </div>
        </section>



    </main>
{% endblock %}

{% block title %}
    Qui sommes-nous ?
{% endblock %}

